#hero {
    width: 100%;
    height: 30vw;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 60% 40%;
}

#hero > #col_1 {
    background-image: url('assets/hero.jpeg');
    background-size: 60vw;
    background-repeat: no-repeat;
    background-clip: border-box;
    border: 10px solid var(--mdc-theme-primary)
}

h1.hero {
    height: 100%;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

#burger {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    padding: 20px 2vw 20px 2vw;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-column-gap: 2vw;
    justify-content: space-between;
    align-items: center;
}

#cta {
    margin: 20px auto;
}

#card {
    border-radius: 8px;
    background-color: var(--accent-dark);
    height: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px var(--mdc-theme-primary);
}

.mobileFeature {
    display: none;
}

@media screen and (max-width: 800px) {
    .disappearing {
        display: none;
    }

    .mobileFeature {
        display: flex;
    }

    #content {
        grid-template-columns: 48vw 48vw;
        grid-row-gap: 2vw;
    }
}

@media (min-width: 801px) {
    #burger {
        display: none;
    }
}

@media (max-width: 700px) {
    nav {
        display: none;
    }
}

