:root {
    --accent-med: #3F0FA6;
    --accent-dark: #230D73;
    
    --mdc-theme-primary: #030C26;
    --mdc-theme-secondary: #1E0640;
    --mdc-theme-background: #030C26;
    --mdc-theme-surface: #030C26;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #10E8FF;
    --mdc-theme-text-primary-on-background: #10E8FF; 
    --mdc-theme-on-secondary: #F02FFA;
    --mdc-theme-on-surface: #E85CEF;
    --mdc-theme-on-error: #10E8FF;
    --mdc-text-button-label-text-color: #F02FFA;
    --mdc-checkbox-checked-color: #F02FFA;
    --mdc-checkbox-unchecked-color: #F02FFA;

    --mdc-typography-headline6-font-family: 'Laila', sans-serif;
}

.mdc-top-app-bar__title {
    color: var(--mdc-theme-on-primary);
    text-transform: uppercase;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item {
    color: var(--mdc-theme-on-secondary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Laila', sans-serif;
    color: var(--mdc-theme-on-primary);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: var(--mdc-theme-on-secondary);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--mdc-theme-on-primary)!important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-on-primary)!important;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    border-color: var(--mdc-theme-on-primary)!important;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__notch {
    border-color: var(--mdc-theme-on-primary)!important;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-on-primary)!important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: var(--mdc-theme-primary);
    border-bottom: 3px solid var(--accent-dark);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav > a {
    width: 100%;
}

li.nav {
    display: inline;
    padding: 20px 30px;
    font-family: 'Laila', sans-serif;
    font-weight: 700;
}

li.nav > a {
    font-family: 'Laila', sans-serif;
    font-weight: 700;
}

a:link {
    color: var(--mdc-theme-on-secondary);
    text-decoration: none;
}

a:visited {
    color: var(--mdc-theme-on-secondary);
}

a:hover {
    color: var(--mdc-theme-on-primary);
    text-decoration: underline;
}

a:focus {
    color: var(--mdc-theme-on-primary);
}

a:active {
    color: var(--accent-med);
}

.mdc-button {
    padding: 10px;
    margin: 10px;
}

.mdc-button:hover {
    border-bottom: 2px solid  var(--mdc-theme-on-primary);
}

button {
    background-color: var(--mdc-theme-secondary);
    color: var(--mdc-theme-on-primary);
    padding: 10px 20px;
    font-family: 'Laila', sans-serif;
    font-size: 26px;
    font-weight: 700;
    border-color: var(--accent-dark);
    border-radius: 8px;
    border-style: solid;
}

button:hover {
    background-color: var(--mdc-theme-primary);
    border-color: var(--mdc-theme-on-primary);
}

body {
    background-color: var(--mdc-theme-primary);
}

main {
    padding-top: 60px;
    padding-bottom: 75px;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: var(--mdc-theme-primary);
    height: 40px;
    width: 100vw;
    border-top: 3px solid var(--accent-dark);
}

#copyright {
    position: absolute;
    bottom: 20px;
    right: 35px;
    font-size: 10px;
    color: var(--mdc-theme-on-primary);
}