:root {
  --mdc-primary: #030C26;
  --mdc-primary-variant: #1E0640;
  --mdc-on-primary: #F02FFA;
  --mdc-on-secondary: #10E8FF;
  --mdc-secondary-variant: #3F0FA6;
  --mdc-secondary: #230D73;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > a {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100vw;
  background-color: var(--mdc-theme-primary, #6200ee);
}